
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <span>Name: <%=item.name%></span>
    <span>Description: <%=item.description%></span>
    <%if(item.category){%>
    <span>Category: <%=item.category.name%></span>
    <%} else{%>
    <span>Category: none</span>
    <%}%>
    <span>Price: $<%=item.price%></span>
    <span>Stock: <%=item.stock%></span>
    <a href="<%=item.url%>/delete">delete item</a>
    <a href="<%=item.url%>/update">update item</a>
</body>

</html>